
.opacity {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
}

.opacity:hover {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 2s;
}



.hall-lighting {
    opacity: 0;
}

.hall-lighting:hover {
    opacity: 1;
    filter: url(interior.svg#hall-lighting);
}




.bedroom-lighting {
    opacity: 0;
}

.bedroom-lighting:hover {
    opacity: 1;
    filter: url(interior.svg#bedroom-lighting);
}



.green-glow:hover {
    filter: url(interior.svg#green-glow);
}


.indigo-glow:hover {
    filter: url(equipment.svg#indigo-glow);
}

