* {
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
    font-family: Ubuntu;
}

html, body, div {
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gray {

    background: url('scheme.jpg') no-repeat center;
    background-size: auto 100%;

    opacity: 0.8;
    filter: grayscale(100%);
    will-change: filter, opacity;
    transition-property: filtert, opacity;
    transition-duration: 1s;
    animation-timing-function: ease-in-out;
}

a {
    font-size: 36px;
    font-weight: 400;
    color: black;
    padding: 30px 60px;
    background-color: white;
    text-decoration: none;
    border: solid black 1px;
    z-index: 9999;
}


.color {
    opacity: 1;
    filter: none;
}

